.profile{
    border: 1px solid #bbb;
    height: 20%;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    background: #fff;
    display: table;
    width: 100%;
    padding:5px;
}
.profile-desc{
    border-right: 1px solid #bbb;
    width: 50%;
    position: relative;
    height: 100%;
    float: left;
}
.general-info{
    position: relative;
    height: 100%;
    float: left;
}
.profile-img-cont{
    display: table;
    float: left;
    padding: 12px 0px 0px 0px;
}
.profile-img-cont img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    border: 3px solid #999;
}
.cust-p-info{
    float: left;
    padding: 45px 0px 0px 10px;
    display: table;
    font-size: 16px;
}
.cust-name{
    display:block;
    font-size:15px;
    font-weight: bold;
}
.country-info{
    display:block;
    font-size:12px;
}
.contact-info{
    float: right;
    height: 100%;
}
.contact-wrap{
    border-left: 1px dashed #bbb;
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}
.contact-list{
    list-style: none;
    float: left;
    padding: 18px 0px 0px 5px;
}
.cnt-li-items{
    font-size: 12px;
    display: block;
    position: relative;
    padding: 2px 0px 2px 26px;
}
.cnt-li-items i{
    font-size: 15px;
    position: absolute;
    left: 5px;
    color: #666;
}
.stats{
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}
.stats-heading{
    margin-top: 10px;
    font-size: 15px;
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
}
.stats-panel{
    width: 100%;
}
.stats-items{
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 12px;
}
.stats-items li{
    padding: 5px 0px 10px 2px;
    float: left;
    width: 50%;
}
.stats-item-head{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}
.stats-item-cont{
    color: #666;
}
.search-cust{
    border: 1px solid #bbb;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    background: #fff;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 5px;
    position: relative;
    margin-top: 5px;
}
.srch-wrap{
    display: table;
    padding: 8px 0px 0px 14px;
}
.srch-cust-head{
    display: table;
    font-size: 15px;
    color: #999;
    margin-bottom: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.srch-cust-cont{
    display:table;
    position:relative;
}
.srch-cust-inpt{
    border: none;
    border-bottom: 1px solid;
    margin-right: 5px;
    font-size: 16px;
    width:100%;
}
.srch-cust-inpt:focus{
    outline:none;
    width: 150%;
}
.srch-cust-btn{
    background-color:#1D61BF !important;
}
.cust-srch-icon{
    position: absolute;
    right: 2;
    top: 5;
}
.list-cust{
    top: 7px;
}
.cust-side-items-pnl-wrap{
    margin-top: 20px;
}
